body{
  margin: 0px;
  padding: 0px;

}
.header{
  display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
  margin: 0px;
  width: 100%;
  text-align: center;
  background-color: rgb(47, 2, 88);
  color:  white;
}
.workers-area{
  display: flex;
  background-color: antiquewhite;
  flex-direction: column;
}
.workers{
  display: flex;
  flex-direction: row;
}
.w-name{
  color: rgb(47, 2, 88);
  text-transform: uppercase;
padding:5px 20px;
}
.w-age{
  color: rgb(85, 0, 0);
  padding:5px 20px;

}
h1{
  text-align: center
}
table{
  width: 100%px;
  
}
.abc{
color: antiquewhite;
background-color: blue;

}
table th{
  background-color: brown;
  color: white;
  text-align: center;
  padding: 10px;
}
.links-container{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.links{
  display: flex;
 color: white;
 text-decoration: none;
 font-weight: bold;
padding: 10px;

}
.links:hover{
  color: brown;
  transition: 1s;
}
.logo{
  color: white;
  text-decoration: none;
  text-shadow: 5px 5px 5px  brown;
}
.menu-area{
  display: flex;
  background-color: bisque;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.menu{
  display: flex;
  background-color: aqua;
}